{{#unless complete}}
<div class="modal-body">
  <form id='login-form' method='post' class="form-horizontal" role="form">
    <div class="form-group">
      <label for='new-account-email' class="sr-only">{{i18n user.email.title}}&nbsp;</label>
      <div class="col-lg-12">
        {{textField value=accountEmail placeholderKey="create_account.email_placeholder" id="new-account-name" class="form-control" autofocus="autofocus"}}
        &nbsp;{{inputTip validation=emailValidation}}
      </div>
    </div>
    <div class="form-group">
      <label for='new-account-username' class="sr-only">{{i18n user.username.title}}&nbsp;</label>
      <div class="col-lg-12">
        {{textField value=accountUsername placeholderKey="create_account.username_placeholder" id="new-account-username" maxlength="15" class="form-control"}}
        &nbsp;{{inputTip validation=usernameValidation}}
      </div>
    </div>

    {{#if passwordRequired}}
    <div class="form-group">
      <label for='new-account-password' class="sr-only">{{i18n login.password.title}}&nbsp;</label>
      <div class="col-lg-12">
        {{textField value=accountPassword placeholderKey="create_account.password_placeholder" type="password" id="new-account-password" class="form-control"}}
        <div class="password_strength_container">
          <div class="password_strength_bg"></div>
          <div class="password_strength" {{bindAttr class="passwordStrengthClass"}}></div>
          <div class="password_strength_separator" style="left: 20%;"></div>
          <div class="password_strength_separator" style="left: 40%;"></div>
          <div class="password_strength_separator" style="left: 60%;"></div>
          <div class="password_strength_separator" style="left: 80%;"></div>
          <div class="password_strength_desc" {{bindAttr class="passwordStrengthClass"}}>
            {{passwordStrengthMessage}} <i class="fa fa-info-circle" data-content="{{i18n user.password.hint}}"></i>
          </div>
          <div class="clearfix"></div>
        </div>
        &nbsp;{{inputTip validation=passwordValidation}}
      </div>
    </div>
    {{/if}}

    <div class="form-group password-confirmation">
      <label for='new-account-password-confirmation' class="col-lg-3">{{i18n user.password_confirmation.title}}&nbsp;</label>
      <div class="col-lg-9">
        {{textField type="password" value=accountPasswordConfirm id="new-account-confirmation" class="form-control"}}
        {{input value=accountChallenge id="new-account-challenge"}}
      </div>
    </div>
  </form>

  <div class="create-account-action">
    <div class="create-account-buttons">
      <button class='btn btn-lg btn-primary'
        {{bindAttr disabled="submitDisabled"}}
        {{action createAccount}}>
          {{i18n create_account.title}}
      </button>

      <button class='btn btn-lg btn-default'
        {{action showLogin}}>
          {{i18n user.log_in}}
      </button>
    </div>
  </div>
</div>
{{/unless}}