<div class="modal-body">

  {{#if Vine.SiteSettings.enable_local_logins}}
    <form id='login-form' method='post' class="form-horizontal" role="form">
      <div class="form-group">
        <label for='login-account-name' class="sr-only">{{i18n login.username}}&nbsp;</label>
        <div class="col-lg-12">
          {{textField value=loginName placeholderKey="login.email_placeholder" id="login-account-name" class="form-control" autocorrect="off" autocapitalize="off" autofocus="autofocus"}}
        </div>
      </div>
      <div class="form-group">
        <label for='login-account-password' class="sr-only">{{i18n login.password}}&nbsp;</label>
        <div class="col-lg-12">
          {{textField value=loginPassword placeholderKey="login.password_placeholder" type="password" id="login-account-password" class="form-control"}}
          <a id="forgot-password-link" {{action showForgotPassword}}>({{i18n forgot_password.action}})</a>
        </div>
      </div>
    </form>
  {{/if}}
    
  <div class="login-action">
    {{#if Vine.SiteSettings.enable_local_logins}}
    <div class="login-buttons">
      <button class='btn btn-lg btn-primary btn-login'
        {{bindAttr disabled="loginDisabled"}}
        {{action login}}>
          {{loginButtonText}}
      </button>

      <button class='btn btn-lg btn-default btn-create'
        {{action showCreateAccount}}>
          {{i18n create_account.action}}
      </button>
    </div>
    {{/if}}

    {{#if hasAtLeastOneLoginButton}}
      <h4 style="text-align:center; margin:50px 0 20px 0;">{{i18n login.or}}</h4>
      <div class="connect-buttons">
        {{#each Vine.LoginMethod.all}}
          <button class="btn btn-social {{unbound name}}" {{action externalLogin this}}>
            <span>
            {{#if icon}}<i class="{{unbound icon}}"></i>{{/if}}
            </span>
          </button>
        {{/each}}
      </div>
    {{/if}}

    {{authMessage}}
  </div>
</div>