<div class="controls">
  <a href='#' class='toggler' {{action toggle bubbles=false}} title='{{i18n editor.toggler}}'></a>

  {{#if viewOpen}}
    <div class='reply-to'>{{{model.actionTitle}}}:</div>
    
    <div class='wmd-controls'>     
      <div class='textarea-wrapper'>
        <div class='wmd-button-bar' id='wmd-button-bar'></div>
        {{view Vine.NotifyingTextArea parentBinding="view" tabindex="3" valueBinding="model.reply" id="wmd-input" placeholderKey="editor.reply_placeholder" class="form-control"}}
      </div>
      <div class='preview-wrapper'>
        <div id='wmd-preview' {{bindAttr class="model.hidePreview:hidden"}}></div>
      </div>

      <a href="#" {{action togglePreview}} class='toggle-preview'>{{{model.toggleText}}}</a>
      <div id='draft-status'>{{{model.draftStatus}}}</div>
      {{#if view.isUploading}}
        <div id="file-uploading">
          {{i18n upload_selector.uploading}} {{view.uploadProgress}}% <a id="cancel-file-upload">{{i18n cancel}}</a>
        </div>
      {{/if}}
    </div>

    {{#if currentUser.isSignedIn}}
      <div class="submit-panel">
        <button {{action save}} tabindex="4" {{bindAttr class=":btn :btn-primary :create model.cantSubmitMessage:disabled"}}>{{model.saveText}}</button>
        <a href='#' {{action cancel}} class='cancel' tabindex="4">{{i18n cancel}}</a>
      </div>
    {{/if}}
  {{else}}
      <div class='row'>
        <div class='col-lg-12'>
          <div class='saving-text'>
            {{#if createdMessage}}
              {{i18n editor.saved}} <a class='permalink' href="{{unbound createdMessage.url}}" {{action viewNewReply}}>{{i18n editor.view_new_post}}</a>
            {{else}}
              {{i18n editor.saving}}
            {{/if}}
          </div>
          <div class='draft-text'>
            {{i18n editor.saved_draft}}
          </div>
        </div>

      </div>
    {{/if}}
</div>