<div class="row">
  <div class="col-sm-1">
    <div class="avatarbit">
      {{#linkTo "user" user}}
        <img {{bindAttr src="user.thumbAvatar"}} width="45" height="45" />
      {{/linkTo}}
    </div>
  </div>

  <div class="col-sm-11">
    <div class="action-row">
      {{#if canDestroy}}
        <a {{action deleteMessage}}>{{i18n message.delete}}</a>
        <span class="bullet">•</span>
      {{/if}}
      {{#if canEdit}}
        <a {{action editMessage}}>{{i18n message.edit}}</a>
        <span class="bullet">•</span>
      {{/if}}
      <a {{action replyMessage}}>{{i18n message.reply}}</a>
    </div>
    
    <div class="userbit">
      <span class="author">{{#linkTo "user" user}}{{user.username}}{{/linkTo}}</span>
      <span class="bullet">•</span>
      <time {{bindAttr data-livestamp="timestamp"}}>Some time bla</time>
    </div>
    
    <div class="message cooked" {{bindAttr data-message-id="id"}}>{{{cooked}}}</div>
  </div>
</div>