<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for='username-or-email'>{{i18n forgot_password.invite}}</label>
      <div>
        {{textField value=accountEmailOrUsername placeholderKey="login.email_placeholder" id="username-or-email" class="form-control" autocorrect="off" autocapitalize="off"}}
      </div>
    </div>
  </form>

  <button class='btn btn-large btn-primary' {{bindAttr disabled="submitDisabled"}} {{action submit}}>{{i18n forgot_password.reset}}</button>
</div>
