<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <a class="close" {{action closeModal}}><i class='icon-remove icon'></i></a>
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <div id='modal-alert'></div>
  
    {{outlet modalBody}}

    {{#if authenticate}}
      <div class="alert alert-info">
        {{i18n login.authenticating}}
      </div>
    {{/if}}

    {{#each errors}}
      <div class="alert alert-danger">
        <button class="close" data-dismiss="alert">×</button>
        {{this}}
      </div>
    {{/each}}
  </div>
</div>