<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
    {{#linkTo "index" href=false class="navbar-brand"}}{{title}}{{/linkTo}}
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    {{#if hideWithoutLogin}}
    <ul class="nav navbar-nav">
      {{#linkTo "notifications" tagName="li" href=false class="notification-tab"}}<a {{bindAttr href="view.href"}}><i class="fa fa-dot-circle-o"></i></a>{{/linkTo}}
    </ul>

    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
    {{/if}}

{{!--     <ul class="nav navbar-nav">
      {{#linkTo "index" tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Messages</a>{{/linkTo}}
      {{#linkTo "things" tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Things</a>{{/linkTo}}
    </ul> --}}
    
    {{#if currentUser}}
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.username}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Preferences</a></li>
          <li><a {{action "logout" target="Vine"}}>{{i18n user.log_out}}</a></li>
        </ul>
      </li>
    </ul>
    {{else}}
    <form class="navbar-form navbar-right">
      <button {{action showLogin}} class='btn btn-primary btn-small'>{{i18n user.log_in}}</button>
    </form>
    {{/if}}
  </div>
</nav>
